[Unit]
Description=Wake-on-LAN Server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/pi/Hunters-Wake-On-Lan-Server/bin/python /home/pi/Hunters-Wake-On-Lan-Server/server.py
WorkingDirectory=/home/pi/Hunters-Wake-On-Lan-Server
User=pi
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target